legacy-peer-deps=true
node-version=18.x
auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false
prefer-frozen-lockfile=true
resolution-mode=highest
engine-strict=true
node-linker=hoisted 